* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f6ff71;
}

.main {
    width: 450px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #fbfd89;
    margin-top: 3%;
    padding: 40px 40px 40px 40px;
    box-shadow: 3px 3px 5px 6px rgb(252, 166, 240);

}
label {
    font-size: 15px;
    margin-bottom: 50px;
}

.req {
    color: rgb(120, 89, 255);
}

input {
    display: block;
    width: 100%;
    padding: 10px 0 10px 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 16px;
    
    border: solid 3px black;
    background-color: #8ecdf7;
}

input:focus {
    outline: none !important;
    border: 1px solid rgb(54, 0, 202);
    box-shadow: 0 0 10px
}

button {
    display: block;
    background-color: #be0303;
    padding: 15px 40px;
    border: solid 3px black;
    
    
    margin-top: 10px;
    color: #d1fb5d;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #3c8dbc;
    transition: .1s;
}
.posts{
    padding: 20px;
    margin-bottom: 10px;
    color: rgb(197, 213, 255);
    background-color: #2e5669;
   
}
#posts {
    display: flex;
    flex-direction: column-reverse;
  }
#userPosts {
    display: flex;
    flex-direction: column-reverse;
}
.head{
    background-image: url('./head.png');
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    display: flex;
    position: relative;
}
.wrapper .sidebar{
    position: fixed;
    width: 2800px;
    height: 100vh;
    background-color: #283c52;
    text-align: center;
    padding: 200px 0;
    color: #ecffac;
}
.main-content{
    width: 100%;
    margin-left: 300px;   
}   
.profile-pic {
    border-radius: 50%;
    height: 165px;
    width: 165px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer;
}

.profile-pic:hover {
    background-color: rgba(26, 2, 56, 0.5);
    z-index: 10000;
    color: rgb(160, 253, 210);
    transition: all .3s ease;
    text-decoration: none;
}

.profile-pic span {
    display: inline-block;
    padding-top: 3em;
    padding-bottom: 4.5em;
}

form input[type="file"] {
          display: none;
          cursor: pointer;
 }
.ul{
    margin-top: 25px;
}
 .ul li{
    font-size: 20px;    
    cursor: pointer;
    padding-bottom: 4px;
   
 }
 .postInout{
     color: rgb(125, 247, 179)
     ;
 }
.postInout::placeholder{
    color: rgb(118, 153, 250) !important  ;
}
textarea:focus, 
textarea.form-control:focus {
  box-shadow: inset 0 -1px 0 rgb(225, 243, 146);
}
